/* Bottom Navigator */
#bottom {
    position: fixed;
    width: 100%;
    height: 6rem;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: 0rem;
}

#bottom .bottom-nav {
    height: 4rem;
    padding: 0 2rem;
    background-color: #151527;
    border-radius: 3rem;
    z-index: 1000;
    display: -webkit-inline-box;
}

#bottom .bottom-nav li {
    color: #fff;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

#bottom .bottom-nav ul a {
    text-decoration: none;

}

#bottom .bottom-nav li:hover {
    background-color: #4db5ff;
}

#bottom .bottom-nav li:active {
    background-color: #4db5ff;
}

.cpy-white {
    color: white;
}
