/* Contact me Section */
.form {
    display: flex;
    width: 80%;
    padding: 0 2rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form-div input,
textarea {
    border: 2px solid rgba(77, 181, 255, .4);
    border-radius: .5rem;
    width: 100%;
    margin: 0.5rem 0rem;
    font-size: .9rem;
    background: transparent;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    color: white;
    resize: none;
}

