/* Footer Section  */
#footer {
    background-color: #214FCF;
    padding: 2rem;
    padding-bottom: 4rem;
}

ul li {
    list-style: none;
    margin: 0 1rem;
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1f1f38;
    transition: all .5s;
}

ul li a:hover {
    color: #fff;
}


.font-awesome {
    margin: 1.1rem auto;
}

.font-awesome li i {
    background-color: #1f1f38;
    padding: 0.6rem;
    border: 1px solid #1f1f38;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.font-awesome li i:hover {
    border: 1px solid #1f1f38;
    border-radius: .5rem;
    background: transparent;
    color: #1f1f38;
}

#footer p {
    color: #1f1f38;
    font-size: .9srem;
}