Home Section
.home-left,
.home-right {
    width: 48%;
    padding: 2rem;
}

.home-right {
    padding: 0;
}

.home-left h4,
h4 {
    color: hsl(240deg 8% 43%);
    margin: 1rem 0;
    margin-left: 3px;
    font-size: 1.2rem;
}

.home-left h1 {
    font-size: 2.5rem;
}

.home-right {
    position: relative;
}

.home-right img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    border-radius: 62%;
    height: 100%;
}

.circle {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    padding: .5rem;
    position: relative;
}


