

#navbar {
    background-color:  #214FCF;
    line-height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: .5px solid;
    border-width: 80%;
    margin-bottom: 1rem;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    margin: 0px 1rem;
}

#navbar ul li a {
    text-decoration: none;
    padding: 0.5rem 0.9rem;

}

.right {
    display: none;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.nav-col a:hover {
    border-radius: .4rem;
    color: #1f1f38;
    background-color: #fff;
}


