/* Projects Section */
.projects-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}





.projects-item {
    overflow: hidden;
    width: 20rem;
    margin: 1rem;
    background: #2c2c6c;
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    text-align: center;
}

.projects-item h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.projects-item p {
    line-height: 20px;
    font-size: .9rem;
}

